.form-contact {
    padding: 30px;
}

.form-contact .títle {
    text-align:center;
    font-size: 25px;
    color: #EF7247;
}

.form-contact .campo {
    display: grid;
    margin-top: 10px;
    font-weight: bold;
}

.input-padrón {
    border: 2px solid;
    border: 5px;
    box-shadow: 1px 4px 10px ;
    padding : 4px;
}

.form-contact .button {
    margin-top: 15px;
    text-align: center;
}

.form-contact .button .enviar {
    padding: 1 rem 2rem ;
    background-color: #48A3A6;
    border-radius: 5px;
    color: white;
}
