body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
	  
}

.banner {
	width: 100%;
}

.container {
	width: 94%;
	margin: 0 auto;
}

.headerPrincipal {
	background-color: #FFF;
	padding: 20px 0;
}

.headerPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.headerPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}

.headerPrincipal-nav-link {
	padding: 10px;
	margin-bottom: 10px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;
	display: block;

	border-bottom: 1px solid #9799A6;
}

.contenidoPrincipal {
	margin-top: 20px;
	margin-bottom: 20px;
}

.subtitulo {
	font-weight: bold;
	font-size: 32px;
	padding: 20px;
	text-align: center;

}
 
/*Seccion de Articulos "Quienes somos"*/
.contenido-articulo{
	margin-bottom: 25px;	
}

.objetivo{
	font-weight: bold;
	margin-top: 10px;
}

/* Seccion de Tutores*/
.container_cars {
    padding-top: 40px;
    background-color: #d9ebf0;   
}

.container_cars .cars{
    text-align: center;
}

.cars .title {
    font-size: 35px;
    color: rgb(17, 17, 17);
    margin-bottom: 16px;
}

.cars .subtitle {
    font-size: 25px;
    color:  rgb(17, 17, 17);
    margin-bottom: 16px;
}

.cars_contenido {
    text-align: center;   
}

.car {
    background: #fdfdfd;
    display:inline-block;
    margin: 0 10px 20px 0;
    padding: 18px;
    width: 250px; 
    border-radius: 10px; 
    vertical-align: top;  
}

.cars_contenido .car .tutor_imagen img {
   border-radius: 50%;
}

.cars_contenido .car .tutor_imagen .cars_nombre {
    margin-top: 10px;
}

.cars_contenido .car .tutor_imagen .cars_cargo {
    font-weight: bold;
    margin-top: 10px;
}

.cars_contenido .car .cars_descripcion {
    margin-top: 10px;
}

/* Seccion Herramientas*/
.container-herramientas{
	background-color: #5EC6F3;
}

.contenidoPrincipal-herramientas-link {
	height: 100px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #cccccc;
	position: relative;
	border-radius: 5px;
	display: flex; 
	flex-direction: column; 
	align-items: center;
	margin-bottom: 10px;
	font-size: 16px; 
}

.contenidoPrincipal-herramientas-link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
    flex-direction: column; 
	align-items: center;
}	

.contenidoPrincipal-herramientas-link:hover {
	box-shadow: 4px 4px 4px #ccccccd9;
}

.contenidoPrincipal-herramientas-link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}


/* Seccion de Cursos*/
.contenidoPrincipal-cursos-link {
	height: 100px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
	display: flex; 
	flex-direction: column; 
	align-items: center;
	margin-bottom: 10px;
	font-size: 16px; 
	box-shadow: 4px 4px 4px #CCC;
}

.contenidoPrincipal-cursos-link a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
    flex-direction: column; 
	align-items: center;
}

.contenidoPrincipal-cursos-link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}



/*Seccion Footer o pie de pagina*/
.rodapePrincipal {
	background-color: #324C64;
	padding-top: 20px;
}

.rodapePrincipal .subtitulo {
	color: #FFF;
}

.rodapePrincipal-navMap-link {
	text-decoration: none;
	color: #FFF;
	margin-top: 10px;
}

.rodapePrincipal-navMap-link {
	font-size: .9em;
}

.navmap-list-title {
	font-weight: 700;
	font-size: 1.3em;
	margin: .9em 0;
	padding-left: .3em;
	padding-top: .2em;
	padding-bottom: .2em;
}

.navmap-list-title + .rodapePrincipal-navMap-link {
	margin-top: 0;
}


.navmap-list-title-framework { color: #AD85BF; border-left: 4px solid #AD85BF; }
.navmap-list-title-frontend { color: #5EC6F3; border-left: 4px solid #5EC6F3; }
.navmap-list-title-herramientas { color: #25D285; border-left: 4px solid #25D285; }
/* Seccion Redes Sociales*/
.rodapePrincipal-redSocial {
	margin-top: 30px;
	background: #F2F5F7;
	padding:20px;
	text-align: center;
    font-size: 13px;
	width: 100%;

}

.rodapePrincipal-redSocial-list {
	text-align: center;
  }
  
  .rodapePrincipal-redSocial-list li {
	display: inline-block;
	margin-right: 3rem; 
  }
  
/* Seccion Videos*/
.videoSobre {
	background-color: #5E9EDC;
	padding: 25px 0;

}

.videoSobre-video {
	max-width: 100%;
}

.videoSobre .container {
	color: #FFF;
}

.videoSobre-sobre-title {
	font-size: 1.2em;
	font-weight: bolder;
}

.videoSobre-sobre {
	font-size: 1.3em;
	line-height: 2;
}

.videoSobre-button {
	border-radius: 8px;
	background-color: #ec6e5a;
	display: block;
	color: #FFF;
	border: none;
	height: 50px;
	font-size: .8em;
	outline: none;
}

.rodapePrincipal-contatoForm-legend {
	margin-bottom: 10px;
}

.copyright{
	text-align: center;
	margin-top: 50px;
}

/*Responsive con Mediaquery*/

@media(min-width: 769px) {

	.container {
		width: 85%;	
	}

	.subtitulo {
		text-align: left;
	}

	.headerPrincipal-nav-link {
		border-radius: 5px;
		border: 1px solid #9799A6;
	}

	.headerPrincipal-nav-link:hover {
		color: #FFF;
		background-color: #9799A6;
	}

	.headerPrincipal-titulo {
		margin: 0;
	}

	.headerPrincipal-nav {
		width: auto;
	}

	.headerPrincipal-nav-link {
		width: auto;
		margin: 0 0 0 10px;
	}

	.rodapePrincipal-contatoForm {
		margin-top: 0;
		text-align: left;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 0;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 0;
	}

	.contenidoPrincipal-herramientas-link:nth-child(3n) {
		margin-right: 0;
	}

	.contenidoPrincipal-herramientas-link:nth-child(3n+1) {
		margin-left: 0;
	}

}

@media(min-width: 1000px) {
	.contenidoPrincipal-cursos-link {
		margin: 1.333%;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n) {
		margin-right: 1.33%;
	}

	.contenidoPrincipal-cursos-link:nth-child(3n+1) {
		margin-left: 1.333%;
	}

	.contenidoPrincipal-cursos-link:nth-child(4n) {
		margin-right: 0;
	}

	.contenidoPrincipal-cursos-link:nth-child(4n+1) {
		margin-left: 0;
	}

	.contenidoPrincipal-herramientas-link {
		margin: 1.333%;
	}

	.contenidoPrincipal-herramientas-link:nth-child(3n) {
		margin-right: 1.33%;
	}

	.contenidoPrincipal-herramientas-link:nth-child(3n+1) {
		margin-left: 1.333%;
	}

	.contenidoPrincipal-herramientas-link:nth-child(4n) {
		margin-right: 0;
	}

	.contenidoPrincipal-herramientas-link:nth-child(4n+1) {
		margin-left: 0;
	}

	.videoSobre-sobre {
		margin-left: 1.5em;
	}

}

